.home-button {
    background-color: seashell !important;
    margin-top: 4em !important;
    margin-left: 4em !important;
    color: black !important;
    border: 3px solid black !important;
}

.add-button {
    background-color:#DBD80C !important;
    color: black !important;
}

.table {
margin-left: auto !important;
margin-right: auto !important;
width: 80% !important;
 
}

.form {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.checkbox {
    margin-right: 1em;
}

.store-quantity {
    margin-top: 2em !important;
}


.check-store {
    margin-top: 2em !important;
}

.form-title {
    margin-top: 2em !important;
}

.form-submit-button {
    margin-top: 10em !important;
    margin-bottom: 10em !important;
}

.back-form-button {
    margin-right: 70em !important;
}

.home-page {
background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('barrel_of_books.jpg');
padding-bottom: 60em !important;
}



.main-title {
    font-size: 100px;
    background-color: #f8f8ff;
}

.sub-title {
    font-size: 60px;
    background-color: #f8f8ff;
}


.seashell-bg {
    background-color: #f8f8ff;
}

.store-container {
    height: 100% !important;
    width: 100% !important
}

.white-bg {
    background-color: seashell !important;
}

.mb-1 {
    margin-bottom: 1em !important;
}


.search-width {
    width: 50em !important;
}


.book-overview {
    margin-top: 1em !important;
    margin-bottom: 3em !important;
    width:60% !important;
    height: 60% !important;
    
}

.book-info {
    font-size: 16px;
    background-color:	#f8f8ff !important;
    padding: 0.5cm;
}

.orders-container {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 30px;
}

.red-text {
    color: red;
}

.green-text {
    color: seagreen;
}